.experienceForm {
    display: flex;
    flex-direction: column;
    }
    
.experienceForm form {
    display: flex;
    flex-direction: column;
    }

    /* List styling */

.experienceList {
    display: grid;
    grid: repeat(5, 1fr) / repeat(2, 1fr)
}

.position {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.company {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
.expLocation {
    grid-column: 1/1;
    grid-row: 3/3;
}
.dateFromExp {
    grid-column: 1/1;
    grid-row: 4/4;
}
.dateToExp {
    grid-column: 2/-1;
    grid-row: 4/4;
}
.delExpBtn{
    grid-column: 2/-1;
    grid-row: 5/5;
    justify-self: end;
}