.personalForm {
    display: flex;
    flex-direction: column;
}

.personalForm form {
    display: flex;
    flex-direction: column;
}

/* Editing */
 
button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  max-width: 1000px;
}

label {
    padding: 0.5rem
}

.personalForm form {
    display: flex;
    flex: 0
}

input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

textarea {
    min-height: 100px;
    resize: none
}

/* Saved */

.personalSaved {
    display: grid;
    border-bottom: solid black 2px;
    grid: repeat(3, 3rem) / repeat(2, 1fr);
}

.nameContainer {
    display: flex;
    grid-row-start: 1;
}
.nameContainer p {
    padding-right: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.address {
    grid-row-start: 1;
    grid-column: 2;
    justify-self: end;
}

.jobTitle {
    grid-column: 1;
    grid-row: 2
}

.phone {
    justify-self: end;
    grid-column: 2;
}

.email {
    justify-self: end;
    grid-column: 2;
}

.personalDesc {
    grid-column: 1 / -1;
}

#editBtn {
    justify-self: end;
    grid-column: 2;
}
