.skillForm {
    display: flex;
    align-items: center;
}

.skillForm button {
    margin-left:  2rem;
}

.skillForm input {
    width: 100%;
}

.skillContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skillContainer button {
    margin-left: 2rem
}

#skillEditBtn {
    font-size: 0.8rem;
}
